.xooSocialNetwork {    text-align:    right;
    float:         right;}

.xooSocialNetwork img {
    width:        20px;
    opacity:      .3;
    filter:       alpha(opacity=30);
}

.xooSocialNetwork img:hover {
    opacity:      1;
    filter:       alpha(opacity=100);
}